@charset "UTF-8";
body {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  overflow: auto;
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}

header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.1rem;
  background-color: #f62466;
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
}

header .sxy-paimai {
  width: 2.25rem;
  height: 0.63rem;
  margin-top: 0.3rem;
}

header a {
  display: block;
}

header a img {
  width: 0.5rem;
  margin-top: 0.3rem;
}

.sxy-shangpin {
  width: 7.5rem;
  margin-top: 1.3rem;
}

/*个人信息开始*/
.sxy-person {
  width: 100%;
  height: .86rem;
  padding: 0 0.1rem;
}

.sxy-person > img:first-child {
  width: .86rem;
  float: left;
}

.sxy-person .sxy-name {
  float: left;
  padding-left: .1rem;
}

.sxy-person .sxy-name > p {
  padding-top: .06rem;
  font-size: .24rem;
  color: #21212c;
  letter-spacing: .07rem;
}

.sxy-person .sxy-name > img {
  width: .2rem;
}

.sxy-person .sxy-name > span:nth-child(3) {
  font-size: .24rem;
  color: #f73152;
  padding-top: .05rem;
}

.sxy-person .sxy-name > span:last-child {
  font-size: .24rem;
  color: #888;
  padding-top: .03rem;
}

.sxy-person > img:last-child {
  padding-left: .2rem;
  width: 1.2rem;
}

/*个人信息结束*/
.sxy-safa-title {
  width: 7.5rem;
}

.sxy-jieshao {
  padding: 0.1rem 0.5rem;
  width: 7.5rem;
  text-align: center;
  font-size: 0.24rem;
  color: #6d6d6d;
  line-height: 0.4rem;
}

.sxy-more {
  width: 1.2rem;
  margin: 0.1rem 3.15rem;
}

.sxy-safa {
  width: 7.5rem;
}

.sxy-rmb {
  text-align: center;
}

.sxy-rmb span:first-child {
  color: #f81e3d;
  font-size: 0.7rem;
}

.sxy-rmb span:last-child {
  color: #c9c9c9;
  font-size: 0.4rem;
}

.sxy-spxx {
  width: 7.5rem;
}

.sxy-ppxx {
  margin: 0.1rem 0;
  width: 7.5rem;
}

.one {
  padding: 0 0.8rem;
}

.one1 {
  padding: 0 1.6rem;
  margin-bottom: 0.1rem;
}

.sxy-comment {
  width: 7.5rem;
}

.sxy-cnxh {
  width: 7.5rem;
}

.sxy-rects {
  width: 7.5rem;
  padding: 0 0.15rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sxy-bg-rect {
  width: 3.5rem;
  height: 5.44rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem 0 #d4d4d4;
  border-radius: .2rem;
  margin: 0.3rem 0;
  float: left;
}

.sxy-bg-rect > a {
  display: block;
  text-align: center;
}

.sxy-bg-rect > a > img {
  width: 3.4rem;
  margin-left: 0.05rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.sxy-bg-rect > a > h3 {
  margin: 0 auto;
}

.sxy-bg-rect > a > h3 > span:first-child {
  color: #f81e3d;
  font-size: 0.3rem;
}

.sxy-bg-rect > a > h3 > span:last-child {
  color: #b6b6b6;
  font-size: 0.18rem;
  font-weight: 400;
}

.sxy-bg-rect > a > div > span:first-child {
  color: #000;
  font-size: 0.3rem;
  font-weight: 400;
}

.sxy-bg-rect > a > div > span:last-child {
  color: #000;
  font-size: 0.2rem;
  font-weight: normal;
}

.sxy-bg-rect > .sxy-love {
  width: 3.4rem;
  height: 0.4rem;
  margin-top: -0.25rem;
}

.sxy-bg-rect > .sxy-love > a {
  display: block;
  float: left;
  padding: 0 0.05rem;
}

.sxy-bg-rect > .sxy-love > a > img {
  width: 0.5rem;
  float: left;
  margin-top: 0.3rem;
}

.sxy-bg-rect > .sxy-love > a > div {
  float: left;
  margin-top: 0.3rem;
}

.sxy-bg-rect > .sxy-love > a > div > p {
  color: #989595;
  font-size: 0.18rem;
}

footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 7.5rem;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

footer .sxy-money {
  width: 3.1rem;
  height: 1rem;
  background-color: #000;
  text-align: center;
}

footer .sxy-money span:first-child {
  color: #f81e3d;
  font-size: 0.48rem;
  line-height: 1rem;
}

footer .sxy-money span:last-child {
  color: #c9c9c9;
  font-size: 0.3rem;
  line-height: 1rem;
}

footer a {
  display: block;
  width: 2.2rem;
}

footer a img {
  height: 1rem;
}
