*{
    box-sizing: border-box;
}
body{
    background-image: url(../img/sxy/sxy-mebg.png);
    background-size: cover;
}
//头部开始
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 0 .3rem;
}
header .position{
    display: block;
}
header .position img{
    width: 0.56rem;
    margin:{
        top: .53rem;
        bottom: .3rem;
    };
}
header .search{
    width: 4.26rem;
    height: .44rem;
    box-shadow: 0 0 0.05rem 0 #888;
    border-radius: .8rem;
    background-color: #fff;
    margin-top: .6rem;
    margin-left: 1.9rem;
    position: relative;
}
header .search form{
    width: 4rem;
    height: .34rem;
}
header .search input{
    width: 3.3rem;
    height: .34rem;
    outline: none;
    border: none;
    position: absolute;
    left: .5rem;
    top: .05rem;
    color: #757575;
}
header .search >a:first-child{
    width: .35rem;
    height: .35rem;
    position: absolute;
    left: 0.03rem;
    top: 0.01rem;
    display: block;
    z-index: 10;
}
header .search >a:first-child img{
    width: 100%;
}
header .search >a:last-child{
    width: .4rem;
    height: .4rem;
    position: absolute;
    right: .05rem;
    top: 0.01rem;
    display: block;
    z-index: 100;
}
header .search >a:last-child img{
    width: 100%;
}
//头部结束
//菜单选项
.sxy-menulist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4.7rem;
    margin-bottom: 1rem;
    padding: 0 0.1rem;
    justify-content: space-between;
    a{
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        img{
            width: 100%;
        }
    }
}
//Tab栏开始
footer {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
    background-color: #171c1c;
    display: flex;
    justify-content: space-between;
    padding: 0 .25rem;
    box-sizing: border-box;
}
footer a{
    display: block;
    width: 1rem;
    height: 1rem;
    margin-top: -0.05rem ;
}
footer a>img{
    width: 1rem;
}
footer a.active{
    display: none;
}
//Tab栏结束