@charset "UTF-8";
html, body {
  background: #f7f7f7;
  height: 100%;
  overflow: hidden; }

.zhc-header {
  width: 100%;
  height: 1rem;
  background: #e21f56;
  margin-bottom: 0.2rem; }
  .zhc-header .zhc-headerbottom {
    width: 100%;
    height: 1rem;
    background: #f62466;
    padding: 0 0.24rem;
    box-sizing: border-box;
    padding-top: 0.1rem;
    display: flex;
    align-items: center; }
    .zhc-header .zhc-headerbottom span {
      display: block;
      width: 1.66rem;
      height: 0.88rem;
      float: left;
      margin-left: 2.5rem;
      font-size: 0.28rem;
      color: #fff;
      line-height: 0.88rem;
      text-align: center; }
    .zhc-header .zhc-headerbottom a {
      display: block;
      width: 0.66rem;
      height: 0.5rem;
      float: left;
      font-size: 0.28rem;
      color: #fff;
      font-family: '宋体';
      line-height: 0.5rem; }
      .zhc-header .zhc-headerbottom a img {
        height: 100%; }
    .zhc-header .zhc-headerbottom div {
      width: 0.7rem;
      height: 0.7rem;
      float: left;
      margin-left: 2.2rem; }
      .zhc-header .zhc-headerbottom div a {
        display: block;
        width: 100%;
        height: 100%; }

main {
  width: 100%;
  height: auto;
  padding: 0 0.24rem;
  box-sizing: border-box; }
  main .zhc-zl-one {
    box-shadow: 0 0 0.1rem #d4d0d0;
    background: #fff;
    border-radius: 0.08rem;
    width: 100%;
    height: 1.1rem;
    margin-bottom: 0.1rem;
    padding-left: 1.1rem;
    box-sizing: border-box;
    position: relative; }
    main .zhc-zl-one .zhc-icon {
      position: absolute;
      top: 50%;
      margin-top: -0.44rem;
      left: 0.1rem;
      width: 0.88rem;
      height: 0.88rem; }
      main .zhc-zl-one .zhc-icon img {
        width: 100%; }
    main .zhc-zl-one .li-left {
      float: left;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      main .zhc-zl-one .li-left div:first-child {
        height: 0.4rem;
        width: 100%;
        font-size: 0.24rem;
        color: #21212c; }
      main .zhc-zl-one .li-left div:nth-child(2) {
        width: 2.2rem;
        height: 0.04rem;
        background: url(../img/zhc/zhc-ziliao1_07.png);
        background-size: cover; }
      main .zhc-zl-one .li-left div:last-child {
        height: 0.4rem;
        width: 100%;
        font-size: 0.2rem;
        color: #9e9e9e; }
    main .zhc-zl-one a {
      position: absolute;
      right: 0rem;
      top: 0;
      display: block;
      font-family: '宋体';
      font-size: 0.28rem;
      font-weight: bold;
      color: #acacac;
      width: 1rem;
      height: 100%;
      line-height: 1rem;
      text-align: center; }

body main .zhc-zl-one .li-left .zhc-color {
  color: #F62466; }

/*Tab栏开始*/
footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: #171c1c;
  display: flex;
  justify-content: space-between;
  padding: 0 0.25rem;
  box-sizing: border-box; }

footer a {
  display: block;
  width: 1rem;
  height: 1rem;
  margin-top: -0.05rem; }

footer a > img {
  width: 1rem; }

footer a.active {
  display: none; }

/*Tab栏结束*/
