@charset "UTF-8";
html, body {
  background: #f7f7f7;
  height: 100%; }

.zhc-header {
  width: 100%;
  height: 1rem;
  background: #e21f56;
  margin-bottom: 0.2rem; }
  .zhc-header .zhc-headerbottom {
    width: 100%;
    height: 1rem;
    background: #f62466;
    padding: 0 0.24rem;
    box-sizing: border-box;
    padding-top: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .zhc-header .zhc-headerbottom span {
      display: block;
      width: 1.66rem;
      height: 0.88rem;
      float: left; }
      .zhc-header .zhc-headerbottom span img {
        width: 90%; }
    .zhc-header .zhc-headerbottom a {
      display: block;
      width: 0.66rem;
      height: 0.5rem;
      float: left; }
      .zhc-header .zhc-headerbottom a img {
        height: 100%; }
    .zhc-header .zhc-headerbottom div {
      width: 0.66rem;
      height: 0.5rem;
      float: left; }

@keyframes mov {
  0 {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes movs {
  0 {
    right: 0.3rem; }
  100% {
    right: 0.08rem; } }

main {
  width: 100%;
  height: auto;
  padding: 0 0.24rem;
  box-sizing: border-box; }
  main .zhc-zl-one {
    background: #fff;
    border-radius: 0.08rem;
    width: 100%;
    height: 1.1rem;
    margin-bottom: 0.1rem;
    padding-left: 1.1rem;
    box-sizing: border-box;
    position: relative; }
    main .zhc-zl-one .zhc-icon {
      position: absolute;
      top: 50%;
      margin-top: -0.23rem;
      left: 0.24rem;
      width: 0.46rem;
      height: 0.46rem; }
      main .zhc-zl-one .zhc-icon img {
        width: 100%; }
    main .zhc-zl-one .li-left {
      float: left;
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      main .zhc-zl-one .li-left div:first-child {
        height: 0.4rem;
        width: 100%;
        font-size: 0.24rem;
        color: #21212c; }
      main .zhc-zl-one .li-left div:nth-child(2) {
        width: 2.2rem;
        height: 0.04rem;
        background: url(../img/zhc/zhc-ziliao1_07.png);
        background-size: cover; }
      main .zhc-zl-one .li-left div:last-child {
        height: 0.4rem;
        width: 100%;
        font-size: 0.2rem;
        color: #9e9e9e; }
    main .zhc-zl-one .li-right {
      float: right;
      width: 40%;
      height: 100%;
      line-height: 1.1rem;
      position: relative;
      text-align: center; }
      main .zhc-zl-one .li-right b {
        font-size: 12px;
        color: #222; }
      main .zhc-zl-one .li-right span {
        font-size: 12px;
        color: #666;
        margin-right: 0.4rem; }
      main .zhc-zl-one .li-right a {
        position: absolute;
        right: 0.2rem;
        top: 50%;
        margin-top: -0.2rem;
        display: block;
        font-family: '宋体';
        font-size: 0.28rem;
        font-weight: bold;
        color: #acacac;
        width: 0.4rem;
        height: 0.4rem;
        line-height: 0.4rem;
        text-align: center; }
  main .zhc-zl-two {
    background: #fff;
    border-radius: 0.08rem;
    width: 100%;
    height: 1.1rem;
    margin-bottom: 0.1rem;
    padding-left: 1.1rem;
    box-sizing: border-box;
    position: relative; }
    main .zhc-zl-two .li-left {
      float: left;
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      main .zhc-zl-two .li-left div:first-child {
        height: 0.4rem;
        width: 100%;
        font-size: 0.24rem;
        color: #21212c; }
      main .zhc-zl-two .li-left div:nth-child(2) {
        width: 2.2rem;
        height: 0.04rem;
        background: url(../img/zhc/zhc-ziliao1_07.png);
        background-size: cover; }
      main .zhc-zl-two .li-left div:last-child {
        height: 0.4rem;
        width: 100%;
        font-size: 0.2rem;
        color: #9e9e9e; }
    main .zhc-zl-two .li-right {
      float: right;
      width: 40%;
      height: 100%;
      line-height: 1.1rem;
      position: relative;
      text-align: center; }
      main .zhc-zl-two .li-right > div {
        width: 0.8rem;
        height: 0.4rem;
        background: #5d5d6e;
        position: absolute;
        right: 0.2rem;
        top: 50%;
        margin-top: -0.2rem;
        border-radius: 0.6rem;
        overflow: hidden; }
        main .zhc-zl-two .li-right > div .zhc-right-full {
          width: 0;
          height: 100%;
          background: #ff3f6f;
          border-radius: 0.6rem;
          transition: width 0.2s ease; }
        main .zhc-zl-two .li-right > div .zhc-right-circle {
          width: 0.24rem;
          height: 0.24rem;
          border-radius: 50%;
          background: #fff;
          position: absolute;
          right: 0.5rem;
          top: 0.08rem;
          transition: transform 0.2s ease; }
    main .zhc-zl-two .zhc-icon {
      position: absolute;
      top: 50%;
      margin-top: -0.23rem;
      left: 0.24rem;
      width: 0.46rem;
      height: 0.46rem; }
      main .zhc-zl-two .zhc-icon img {
        width: 100%; }
  main .zhc-sub {
    width: 6.44rem;
    height: 0.8rem;
    margin: 0 auto;
    margin-top: 0.4rem; }
    main .zhc-sub a {
      display: block;
      width: 100%;
      height: 100%;
      background: url(../img/zhc/zhc-sub_11.png);
      background-size: cover; }

body main .zhc-zl-two .li-right > div .move {
  width: 100%; }

body main .zhc-zl-two .li-right > div .moves {
  transform: translateX(0.44rem); }
